/* This is the background color for all the background parts on the website */
:root {
    --background-color: rgba(240, 240, 240, 0.8);
}

html {
    background-color: var(--background-color);
}

body {
    font-family: 'Crimson Text', serif;
}

a {
    color: rgba(0, 0, 0, 0.73);
}

a:hover {
    text-decoration: none;
}


.modal-open {
    background-color: var(--background-color);
}

.layout {
    background-color: var(--background-color);
    margin-bottom: 25px;
    margin-top: 75px;
}
