html {
    background-color: rgba(240, 240, 240, 0.8);
}

body {
    font-family: 'Crimson Text', serif;
}

a {
    color: rgba(0, 0, 0, 0.73);
}

a:hover {
    text-decoration: none;
}

.layout {
    background-color: rgba(240, 240, 240, 0.8);
    margin-bottom: 25px;
}
