.slider-button {
    color: white;
    /* height: 5vh; */
    height: 100%;
    width: 5vh;
    background-color: transparent;
    border-color: transparent;
    position: absolute;
    /* top: 45%; */
    top: 0%;
    font-size: 100%;
    /* border-radius: 50px; */
    align-content: center;
}

.slider-button:hover {
    background-color: rgba(0, 0, 0, 0.25);
}

/* This is the button on the left side */
.back-button {
    left: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* This is the button on the right side */
.forward-button {
    right: 0px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.slider-button-touch {
    height: 100%;
    color: white;
}

.slider-label {
    position: absolute;
    bottom: 20px;
    /* width: 100%; */
    text-align: left;
    font-size: 200%;
    left: 12vh;
    /* color: white */
    /* text-shadow: 0px 0px 5px white; */
}


/* Arrow Icon */
i {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    position: absolute;
    bottom:50%;
    width: 10px;
    height: 10px;
}

/* Arrow Icon right */
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    right: 45%;
}

/* Arrow Icon left */
.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    left: 45%;
}

.slider-image {
    filter: brightness(85%);
    display: block;
    width: 100%;
    height: 100%;
}
